@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #005f67;
  --accent: #cbe2f1;
  --highlight: #e1f8fa;
  --button: #005761;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #cbe2f1;
    --foreground: #00021b;
    --accent: #004f58;
    --highlight: #003843;
    --button: #003b3f;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  @apply w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.btn {
  @apply w-full py-2 bg-customdarkbtn text-white rounded-md hover:bg-teal-600;
}
